<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p>To view the grid layout, click on this <a href="grid.html">link</a></p>
    <main>
        <div class="left-content">
            <img src="icon-sedans.svg" alt="Sedan Icon">
            <h1>SEDANS</h1>
            <p>Choose a sedan for it's affordability and excellent fuel economy. Ideal for cruising in the city or on your next roadtrip.</p>
            <p><a href="#" class="left-link">Learn More</a></p>
        </div>
        <div class="middle-content">
            <img src="icon-suvs.svg" alt="SUV Icon">
            <h1>SUVS</h1>
            <p>Take an SUV for its spacious interior, power and versatility. Perfect for your next family vacation and offroad adventures.</p>
            <p><a href="#" class="middle-link">Learn More</a></p>
        </div>
        <div class="right-content">
            <img src="Copy of icon-luxury.svg" alt="Luxury Icon">
            <h1>LUXURY</h1>
            <p>Cruise in the best car brands without the bloated prices. Enjoy the enhanced comforts of a luxury rental and arrive in style.</p>
            <p><a href="#" class="right-link">Learn More</a></p>
        </div>
    </main>
</body>
</html>