*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(5, 4, 43);
    display: flex;
    place-items: center;
    height: 100vh;
}
main{
    display: grid;
    grid-template-areas:
    'a a a b b'
    'a a a b b'
    'c c d d d'
    'c c e e e';
    gap: 10px;
    width: 50%;
    margin:auto;
}
main div{
    padding: 5em;
    text-align: center;
}

.item-a{
    background-color: orange;
    grid-area: a;
}
.item-b{
    background-color: yellow;
    grid-area: b;
}
.item-c{
    background-color: green;
    grid-area: c;
}
.item-d{
    background-color: skyblue;
    grid-area: d;
}
.item-e{
    background-color:skyblue;
    grid-area: e;
}